@use 'variables';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin container{
  &:after{
    content: "";
    display: table;
    clear: both;
  }

  [class*="col-"]{
    float: left;
  }
}

.container{
  @include container;
  max-width: variables.$lg-breakpoint;
  min-width: variables.$md-breakpoint;
  padding: 0 2rem;
  margin: 0 auto;
}

.container-full{
  @include container;
  width: 100%;
  max-width: 1700px;
}

@media screen and (min-width: variables.$lg-breakpoint){
  @for $i from 1 to 12 {
    .col-lg-#{$i} {
      width: 100% / 12 * $i;
    }
  }
}

@media screen and (min-width: variables.$md-breakpoint) and (max-width: variables.$lg-breakpoint){
  @for $i from 1 to 12 {
    .col-md-#{$i} {
      width: 100% / 12 * $i;
    }
  }
}

@media screen and (max-width: variables.$md-breakpoint){
  @for $i from 1 to 12 {
    .col-sm-#{$i} {
      width: 100% / 12 * $i;
    }
  }
}

@media screen and (min-width: variables.$lg-breakpoint){
  @for $i from 1 to 12 {
    .col-lg-offset-#{$i} {
      width: 100% / 12 * $i;
    }
    .col-lg-12{
      width: 100%;
    }

  }
}

@media screen and (min-width: variables.$md-breakpoint) and (max-width: variables.$lg-breakpoint){
  @for $i from 1 to 12 {
    .col-md-offset-#{$i} {
      width: 100% / 12 * $i;
    }
    .col-md-12{
      width: 100%;
    }

  }
}

@media screen and (max-width: variables.$md-breakpoint){
  @for $i from 1 to 12 {
    .col-sm-offset-#{$i} {
      width: 100% / 12 * $i;
    }
    .col-sm-12{
      width: 100%;
    }
  }
}


@media screen and (min-width: variables.$lg-breakpoint){
  .hidden-lg {
      display: none!important;
  }
}

@media screen and (min-width: variables.$md-breakpoint) and (max-width: variables.$lg-breakpoint){
  .hidden-md {
      display: none!important;
  }
}

@media screen and (max-width: variables.$md-breakpoint){
  .hidden-sm {
      display: none!important;
  }
}
