$lg-breakpoint: 990px;
$md-breakpoint: 480px;


@mixin container{
  max-width: $lg-breakpoint;
  margin: 0 auto;

  &:after{
    content: "";
    display: table;
    clear: both;
  }

  [class*="col-"]{
    float: left;
  }
}

.container{
  @include container;
}

@media screen and (min-width: $lg-breakpoint){
  @for $i from 1 to 12 {
    .col-lg-#{$i} {
      width: 100% / 12 * $i;
    }
  }
}

@media screen and (min-width: $md-breakpoint) and (max-width: $lg-breakpoint){
  @for $i from 1 to 12 {
    .col-md-#{$i} {
      width: 100% / 12 * $i;
    }
  }
}

@media screen and (max-width: $md-breakpoint){
  @for $i from 1 to 12 {
    .col-sm-#{$i} {
      width: 100% / 12 * $i;
    }
  }
}

@media screen and (min-width: $lg-breakpoint){
  @for $i from 1 to 12 {
    .col-lg-offset-#{$i} {
      margin-left: 100% / 12 * $i;
    }
  }
}

@media screen and (min-width: $md-breakpoint) and (max-width: $lg-breakpoint){
  @for $i from 1 to 12 {
    .col-md-offset-#{$i} {
      margin-left: 100% / 12 * $i;
    }
  }
}

@media screen and (max-width: $md-breakpoint){
  @for $i from 1 to 12 {
    .col-sm-offset-#{$i} {
      margin-left: 100% / 12 * $i;
    }
  }
}
