@use 'variables';

header{

  //General
  ul{
    margin-right: 1rem;
  }

  li{
    display: inline-block;
    list-style: none;
  }

  .secondary-button{
    background-color: variables.$secondary-color;
  }

  //Top-header
  .top-header{
    height: 60px;
    border-bottom: 1px solid variables.$text-color;

    [class*="col-"]{
      height: inherit;
    }

    //logo
    & > div:first-child{
      @include variables.flex-center-start;
      img{
        height: 40px;
      }
    }

    //menu and button
    .full-menu, .bars-menu{
      @include variables.flex-center-end
    }
  }

  //Banner
  .banner{
    margin: 2rem 0;

    .buttons{
      @include variables.flex-center-start;
      > * {
        margin-right: 0.5rem;
      }
    }

    //left side
    & > [class*="col-"]:first-child {
      @include variables.flex-col-start-start;
      height: inherit;
      padding-top: 2rem;

      > * {
        margin: 0.5rem 0;
      }
    }

    //right side
    & > [class*="col-"]:last-child {
      img {
        width: 100%;
      }
    }
  }
}
