@use 'variables';

#sec-01{

  //General
  background-color: variables.$primary-color;

  * {
    padding: 1rem 0;
  }

  h3, p{
    text-align: center;
  }

  //Positioning and unique image in a row
  .row:first-child, .row:last-child, .row:nth-child(3){
    @include variables.flex-center-center;
    img{
      height: 400px;
    }
  }

  .row:last-child > div{
    width: 100%;
    height: 1px;
    padding: 0;
    background-color: variables.$text-color;
  }

  // More images in a row
  [class*="col-"]{
    @include variables.flex-col-end-center;
    img {
      height: 150px;
    }
  }

}
