//Google fonts
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&display=swap');

//framework width
$lg-breakpoint: 990px;
$md-breakpoint: 480px;

//Colors
$text-color: #7f14d4; // electric violet
$text-color-light: white;
$primary-color: #3e14e9; //persian blue
$secondary-color: #0414b3; //dark blue
$bg-color: white;
$bg-dark: rgba(62, 20, 233, 0.7); //persian blue 50%


//Positioning
@mixin flex-center-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center-start{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-col-center-start{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@mixin flex-col-end-center{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

@mixin flex-col-start-center{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-col-start-start{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin flex-center-end{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


//elements
@mixin button{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding:0.2rem 0.5rem;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
  img {
    height: 30px;
  }
}
